@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    scroll-behavior: smooth;    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
.container__padding{
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 1650px){
    .container__padding{
        padding-left: 0;
        padding-right: 0;
    }
}